*.out
DomainLab/zoutput/slurm_logs/run_experiment/run_experiment-index=7-21971013.out
DomainLab/zoutput/slurm_logs/run_experiment/run_experiment-index=8-21971017.out
DomainLab/zoutput/slurm_logs/run_experiment/run_experiment-index=6-21971016.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-58-37/slurm_logs/run_experiment/run_experiment-index=1-24146798.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-58-37/slurm_logs/run_experiment/run_experiment-index=0-24146799.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-48-32/slurm_logs/run_experiment/run_experiment-index=1-24146772.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-48-32/slurm_logs/run_experiment/run_experiment-index=0-24146773.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32_3_10epochs_nofreezing_2024-08-13_16-55-17/slurm_logs/run_experiment/run_experiment-index=0-24150074.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32_3_10epochs_nofreezing_2024-08-13_16-55-17/slurm_logs/run_experiment/run_experiment-index=1-24150073.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_16-00-04/slurm_logs/run_experiment/run_experiment-index=0-24146803.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_16-00-04/slurm_logs/run_experiment/run_experiment-index=1-24146802.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-57-08/slurm_logs/run_experiment/run_experiment-index=0-24146796.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-57-08/slurm_logs/run_experiment/run_experiment-index=1-24146795.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-54-38/slurm_logs/run_experiment/run_experiment-index=0-24146791.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-54-38/slurm_logs/run_experiment/run_experiment-index=1-24146790.out
DomainLab/.git/objects/pack/pack-55fb86c9347ec45a0635f59d2f955f28f792a9e7.pack
runs_output/TCGAnewpatches-vitbase-Harvard-bs16-erm-20751680.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=3-22014185.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=2-22014177.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=7-22014189.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=8-22014181.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=1-22014184.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=4-22014178.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=0-22014182.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=5-22014187.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=6-22014179.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_erm_lr1e3_bs32_epochs_nofreezing_2024-07-24_16-53-35/slurm_logs/run_experiment/run_experiment-index=0-22910002.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_erm_lr1e3_bs32_epochs_nofreezing_2024-07-24_16-53-35/slurm_logs/run_experiment/run_experiment-index=2-22910001.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_halffreeze_not_finished/run_experiment-index=1-21971798.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_densenet_erm_lr1e3_bs32__3_5epochs_nofreezing_2024-07-27_01-08-17/slurm_logs/run_experiment/run_experiment-index=0-23090436.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_densenet_erm_lr1e3_bs32_epochs_nofreezing_2024-07-26_02-58-00/slurm_logs/run_experiment/run_experiment-index=0-23065783.out
zoutput_wilds/benchmarks/CAMELYONWILD_irm_several_seeds/slurm_logs/run_experiment/run_experiment-index=1-24146772.out
zoutput_wilds/benchmarks/CAMELYONWILD_irm_several_seeds/slurm_logs/run_experiment/run_experiment-index=0-24146773.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_2024-07-19_11-15-17/slurm_logs/run_experiment/run_experiment-index=1-22410068.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_2024-07-19_11-15-17/slurm_logs/run_experiment/run_experiment-index=0-22410070.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_2024-07-19_11-15-17/slurm_logs/run_experiment/run_experiment-index=2-22410069.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=0-22696696.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=2-22696694.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=4-22696695.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=3-22696698.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=1-22696697.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=5-22696699.out
zoutput_wilds/benchmarks/CAMELYONWILD_center4_dinov2small_resnet_densenet_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-07-28_19-14-12/slurm_logs/run_experiment/run_experiment-index=1-23200210.out
zoutput_wilds/benchmarks/CAMELYONWILD_center4_dinov2small_resnet_densenet_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-07-28_19-14-12/slurm_logs/run_experiment/run_experiment-index=0-23200211.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=1-22281435.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=2-22281432.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=3-22281436.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=0-22281434.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=4-22281433.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=1-24132713.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=0-24132708.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=3-24132725.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=6-24132706.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=16-24132712.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=15-24132710.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=17-24132715.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=20-24132703.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=18-24132718.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=4-24132701.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=5-24132704.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=14-24132707.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=19-24132700.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=2-24132716.out
.git/objects/pack/pack-478fa33aae1eac67e39ee2b92a46c17df1de45f8.pack
DomainLab/zoutput/slurm_logs/run_experiment/run_experiment-index=7-21971013.out
DomainLab/zoutput/slurm_logs/run_experiment/run_experiment-index=8-21971017.out
DomainLab/zoutput/slurm_logs/run_experiment/run_experiment-index=6-21971016.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-58-37/slurm_logs/run_experiment/run_experiment-index=1-24146798.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-58-37/slurm_logs/run_experiment/run_experiment-index=0-24146799.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-48-32/slurm_logs/run_experiment/run_experiment-index=1-24146772.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-48-32/slurm_logs/run_experiment/run_experiment-index=0-24146773.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32_3_10epochs_nofreezing_2024-08-13_16-55-17/slurm_logs/run_experiment/run_experiment-index=0-24150074.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32_3_10epochs_nofreezing_2024-08-13_16-55-17/slurm_logs/run_experiment/run_experiment-index=1-24150073.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_16-00-04/slurm_logs/run_experiment/run_experiment-index=0-24146803.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_16-00-04/slurm_logs/run_experiment/run_experiment-index=1-24146802.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-57-08/slurm_logs/run_experiment/run_experiment-index=0-24146796.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-57-08/slurm_logs/run_experiment/run_experiment-index=1-24146795.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-54-38/slurm_logs/run_experiment/run_experiment-index=0-24146791.out
DomainLab/zoutput/benchmarks/CAMELYONWILD_center4_dinov2small_irm_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-08-12_15-54-38/slurm_logs/run_experiment/run_experiment-index=1-24146790.out
DomainLab/.git/objects/pack/pack-55fb86c9347ec45a0635f59d2f955f28f792a9e7.pack
runs_output/TCGAnewpatches-vitbase-Harvard-bs16-erm-20751680.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=3-22014185.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=2-22014177.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=7-22014189.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=8-22014181.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=1-22014184.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=4-22014178.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=0-22014182.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=5-22014187.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_nofreezing/run_experiment-index=6-22014179.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_erm_lr1e3_bs32_epochs_nofreezing_2024-07-24_16-53-35/slurm_logs/run_experiment/run_experiment-index=0-22910002.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_erm_lr1e3_bs32_epochs_nofreezing_2024-07-24_16-53-35/slurm_logs/run_experiment/run_experiment-index=2-22910001.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_halffreeze_not_finished/run_experiment-index=1-21971798.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_densenet_erm_lr1e3_bs32__3_5epochs_nofreezing_2024-07-27_01-08-17/slurm_logs/run_experiment/run_experiment-index=0-23090436.out
zoutput_wilds/benchmarks_old/CAMELYONWILD_center0_dinov2small_resnet_densenet_erm_lr1e3_bs32_epochs_nofreezing_2024-07-26_02-58-00/slurm_logs/run_experiment/run_experiment-index=0-23065783.out
zoutput_wilds/benchmarks/CAMELYONWILD_irm_several_seeds/slurm_logs/run_experiment/run_experiment-index=1-24146772.out
zoutput_wilds/benchmarks/CAMELYONWILD_irm_several_seeds/slurm_logs/run_experiment/run_experiment-index=0-24146773.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_2024-07-19_11-15-17/slurm_logs/run_experiment/run_experiment-index=1-22410068.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_2024-07-19_11-15-17/slurm_logs/run_experiment/run_experiment-index=0-22410070.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_2024-07-19_11-15-17/slurm_logs/run_experiment/run_experiment-index=2-22410069.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=0-22696696.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=2-22696694.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=4-22696695.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=3-22696698.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=1-22696697.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_dinov2small_erm_irm_dial_lr1e5_bs16_10epochs_nofreezing_plusresneterm_2024-07-22_00-53-51/slurm_logs/run_experiment/run_experiment-index=5-22696699.out
zoutput_wilds/benchmarks/CAMELYONWILD_center4_dinov2small_resnet_densenet_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-07-28_19-14-12/slurm_logs/run_experiment/run_experiment-index=1-23200210.out
zoutput_wilds/benchmarks/CAMELYONWILD_center4_dinov2small_resnet_densenet_erm_lr1e5_bs32__3_10epochs_nofreezing_2024-07-28_19-14-12/slurm_logs/run_experiment/run_experiment-index=0-23200211.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=1-22281435.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=2-22281432.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=3-22281436.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=0-22281434.out
zoutput_wilds/benchmarks/CAMELYONWILD_center0_resnet_erm_irm_dial_lr1e5_bs16_10epochs_allfrozen_2024-07-17_23-28-42/slurm_logs/run_experiment/run_experiment-index=4-22281433.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=1-24132713.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=0-24132708.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=3-24132725.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=6-24132706.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=16-24132712.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=15-24132710.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=17-24132715.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=20-24132703.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=18-24132718.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=4-24132701.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=5-24132704.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=14-24132707.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=19-24132700.out
zoutput_balanced/benchmarks/CAMELYONbalancednew_center4_erm_irm_resnet_nofreeze_halffreeze_allfreeze_2024-08-09_01-24-07/slurm_logs/run_experiment/run_experiment-index=2-24132716.out
.git/objects/pack/pack-478fa33aae1eac67e39ee2b92a46c17df1de45f8.pack
